SECRET_KEY='django-dhjfsgjgfdgsdjfgsjfgsdjf37473fhdg'
DEBUG=true
ALLOWED_HOSTS=[]

DB_NAME=postgres
DB_USER=postgres.dsjfhdsjhfkjhsjfkd
DB_PASSWORD=password
DB_HOST=aws-1-eu-west-4.pooler.supabase.com
DB_PORT=6543
